@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* body {
  background-color: #f7f6f9;
} */
body {
  background: url(./Assets/blue.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box-temp {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.highlights {
  backdrop-filter: blur(5px);
  border: 0.4px solid rgba(255, 255, 255, 0.5);
}
